#login,
#register {
  margin: 50px auto;
}

.form-card {
  margin: auto;
}

.form-header {
  text-align: center;
}

.add-list {
  margin: 50px 20px;
}

.create-board {
  margin: 50px;
}

.create-board button {
  margin: auto;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
}

#Home {
  text-align: center;
}

.hero-body {
  flex-direction: column;
  justify-content: center;
}

.board {
  display: flex;
  overflow: auto;
  height: 100vh;
  flex-wrap: wrap;

  position: relative;
  width: 90%;
}

.current-board {
  position: absolute;
  background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  height: 100vh;
}

.list {
  height: max-content;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  border-radius: 10px;
}

.list-name {
  text-align: center;
}

.board-dropdown {
  float: right;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  opacity: 0.8;
}

.no-board {
  text-align: center;
  margin-top: 50px;
}

#board-name,
#list-name {
  border: none;
  box-shadow: none;
  padding-left: 0;
  font-size: 2.5rem;
}

#board-name {
  opacity: 0.2;
  width: 33%;
  margin-top: 20px;
}

#list-name {
  font-size: 1.25rem;
}

.board-name {
  position: relative;
  width: 100%;
  margin-left: 25px;
}

.board-name-display {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  height: 2.5em;
  font-size: 2.5rem;
  margin-top: 20px;
}

.task {
  margin-bottom: 10px;
}

#cardForm-buttons,
#card-modal-buttons {
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.hidden {
  display: none;
}

.delete-list {
  top: -0.75rem !important;
  right: -0.75rem !important;
}

.boards-dropdown {
  margin-bottom: 20px;
}

.delete-board-button {
  width: 66%;
  margin: 10px auto;
}

.add-member-button {
  margin-left: 10px;
}

.mark-as-complete {
  margin-bottom: 15px;
}

.remove-link {
  float: right;
  margin-right: 12rem;
}

.member-username {
  display: inline-block;
}

.member-selection {
  display: flex;
  align-items: center;
}

#add-delete-board {
  display: flex;
  flex-direction: column;
  float: right;
  position: relative;
  z-index: 20;
  margin-top: 20px;
}

#board-dropdown-board-buttons-container {
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 20px;
}

.show {
  position: relative;
}
