#login,
#register {
  margin: 50px auto;
}

.form-card {
  margin: auto;
}

.form-header {
  text-align: center;
}

.add-list {
  margin-top: 50px;
}

.create-board {
  margin: 50px;
}

.create-board button {
  margin: auto;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
}

#Home {
  text-align: center;
}

.hero-body {
  flex-direction: column;
  justify-content: center;
}

.board {
  display: flex;
  overflow: auto;
  height: 100vh;
  flex-wrap: wrap;
}

.list {
  height: max-content;
}

.list-name {
  text-align: center;
}

.board-dropdown {
  float: right;
  display: flex;
  flex-direction: column;
}

.no-board {
  text-align: center;
  margin-top: 50px;
}

#board-name {
  border: none;
  box-shadow: none;
  padding-left: 0;
}

.board-name {
  position: relative;
}

.board-name-display {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  height: 2.5em;
}

.task {
  margin-bottom: 10px;
}

#cardForm-buttons,
#card-modal-buttons {
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.hidden {
  display: none;
}
